@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary: #ff4500;
  --secondary: #fae467;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-light: #ccc;
  --grey-extra-light: #eee;
}

html,
body {
  scroll-behavior: smooth;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm  {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 0.2rem solid var(--secondary);
  border-radius: 5px;
  background: transparent;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background: var(--secondary);
  color: var(--dark);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--dark);
}

.section {
  margin: 4rem 0;
}

.section-header {
  max-width: 750px;
  margin: 0 auto; 
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 0.5rem;
}

.section-header p {
  font-size: 1.3rem;
  color: var(--grey-dk);
}

.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary);
  margin: 0 auto 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.75rem;
  background: var(--grey-xl);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.navbar {
  background: rgba(0, 0, 0, 0.9);
  color: var(--primary);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 81px;
  height: 31px;
  font-family: 'Fredericka the Great', serif;
  font-weight: lighter;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

.navbar a {
  color: var(--secondary);
  text-transform: uppercase;
  transition: color 0.5s ease-in-out;
}

.navbar a:hover {
  color: var(--primary);
}

.navbar i {
  font-size: 1.5rem;
  color: var(--primary);
  transition: color 0.5s ease-in-out;
}

.navbar i:hover {
  color: var(--secondary)
}

.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: var(--primary);
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--dark);
  opacity: 0.9;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid var(--secondary);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.hero {
  background: #000 url('../images/hero/bg.jpg') center center/cover no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: var(--secondary);
  overflow-x: hidden;
  position: relative;
}

.hero .hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: 400;
}

.hero img {
  width: 100%;
  margin-right: -100px;
}

.learn {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.topics {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.topic img {
  transition: transform 0.3s;
}

.topic img:hover {
  transform: scale(1.1);
}

.topics h3 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0.5rem 0;
}

.game-dev-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0 4rem;
}

.game-dev-cards img {
  width: 130px;
  margin-top: 1rem;
  border-radius: 50%;
}

.game-dev-cards h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem 0;
}

.game-dev-link,
.backend-link {
  color: var(--dark);
  font-style: oblique;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.game-dev-link:hover,
.backend-link:hover {
  color: var(--primary);
}

.backend {
  background: var(--secondary);
  color: var(--dark);
  padding: 4rem 2rem 5rem;
}

.backend .section-lists {
  background: var(--dark);
  padding: 2rem;
  text-align: center;
}

.backend .list-header {
  display: inline-block;
  background-color: var(--primary);
  color: var(--light);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
}

.backend .list-item {
  padding: 1.4rem 0;
  color: var(--light);
  font-weight: 400;
}

.ui-ux-container {
  background: url('../images/ui-ux/featured.jpg') center no-repeat;
  background-size: cover;
  display: flex;
}

.ui-ux-content {
  background-color: var(--light);
  color: var(--grey-dark);
  flex: 1;
  padding: 4rem;
}

.ui-ux-content h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  
}

.ui-ux-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.ui-ux-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}

.ui-ux-content i {
  margin-right: 0.5rem;
  color: var(--primary);
}

.ui-ux-left {
  width: 50%;
}



@media(max-width: 1200px) {
  .hero .hero-flex {
    gap: 2rem;
  }
  .hero img {
    max-width: 500px;
    margin-right: 0;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 992px) {
  .hero {
    text-align: center;
  }
  .hero .hero-flex {
    flex-direction: column;
    padding-bottom: 4rem;
  }
  .hero img {
    max-width: 600px;
    margin-right: 2rem;
  }
  .topics {
    grid-template-columns: repeat(2, 1fr);
  }
  .learn {
    margin-top: 4rem;
    margin-bottom: 4rem;   
  }
  .game-dev-cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px) { 
  .main-menu-items {
    display: none;
  }
  .navbar .mobile-menu {
    display: block;
  }
  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
}

@media(max-width: 576px) {
  .hero {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero img {
    max-width: 350px;
  }
  .topics {
    grid-template-columns: 1fr;
  }
  .learn {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .backend .container {
    padding: 0;
  }
}